body {
        background-image:url('http://www.hdwallpapers.in/walls/blue_sunset-wide.jpg');
        height: 500px;
        background-repeat: no-repeat;
    background-size: cover;
background-color: aquamarine;
    h1 {color:black}
    p {color: #ffb822}
    p {font-family:"Arial",Arial,Sans-serif
}
}

